<aside class="menu column is-3 pl-6">
  <ul class="menu-list">
    {% with url_name=request.resolver_match.url_name %}
    <li><a class="{% if url_name == 'my_account' %}is-active{% endif %}" href="{% url 'my_account' %}">Dashboard</a></li>
    <li><a class="{% if url_name == 'order_history' %}is-active{% endif %}" href="{% url 'order_history' %}">Orders</a></li>
    <li><a class="{% if url_name == 'update_address' %}is-active{% endif %}" href="{% url 'update_address' %}">Address</a></li>
    <li><a class="{% if url_name == 'account_details' %}is-active{% endif %}" href="#">Account Details</a></li>
    <li><a class="{% if url_name == 'wishlist' %}is-active{% endif %}" href="#">Wishlist</a></li>
    {% endwith %}
  </ul>
</aside>
