.js-search
    width: 45vw
    max-width: 40rem
    @include mobile
        width: 90%
    
.search-container
    width: 45vw
    max-width: 40rem
    justify-content: center
    @include mobile
        width: 100%

