.js-search
    width: 60vw
    max-width: 60rem
    left: calc((-60vw/5)/2)
    @include touch
        width: 90vw
        left: 0
    
.search-container
    width: 45vw
    max-width: 40rem
    justify-content: center
    @include touch
        width: 90vw
        max-width: 400rem
        text-align: center


