<aside class="menu sticky-filter">
  <p class="menu-label">
    Stock
  </p>
  <ul class="menu-list">
    <li>
      <label class="checkbox">
        <input type="checkbox">
        In Stock
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input type="checkbox">
        Out of Stock
      </label>
    </li>
  </ul>
  <p class="menu-label">
    Price 
  </p>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input type="text" class="input is-small">
          <p class="help">Min Price</p>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input type="text" class="input is-small">
          <p class="help">Max Price</p>
        </p>
      </div>
    </div>
  </div>
</aside>