{% for product in products %}
<div class="column is-3-desktop is-4-tablet is-6-mobile">
  <a href="{{product.get_url}}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{product.image.url}}" alt="{{product.name}}" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="subcatname" hidden>{{product.sub_category.name}}</p>
          <p class="title is-6 has-text-primary">
            {{product.name | truncatechars:20 }}
          </p>
          <p class="subtitle is-7">
            {{product.category.name | title }} / {{product.sub_category.name | title}}
          </p>
          <p class="is-size-7">{{product.description | truncatechars:80}}</p>
          <small class="has-text-weight-bold">£{{product.price}}</small>
          {% if product.stock > 0 %}
          <small class="is-pulled-right has-text-success is-size-7-mobile"
            >Available</small
          >
          {% else %}
          <small class="is-pulled-right has-text-danger is-size-7-mobile">Out of Stock</small>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  <div class="hideme-stock" name="{{product.sub_category.name}}" hidden>{{product.stock}}</div>
  <div class="hideme-price" name="{{product.category.name}}" hidden>{{product.price}}</div>
</div>
{% endfor %}
