<aside 
  x-data="productFilter()" 
  x-init="() => {stockPriceFilter(), findMinMaxPrice()}" 
  class="menu sticky-filter box"
>
  <p class="menu-label">
    Stock
  </p>
  <ul class="menu-list">
    <li>
      <label class="checkbox">
        <input id="in-stock-check" type="checkbox" @click="stockPriceFilter">
        In Stock
      </label>
    </li>
    <li>
      <label class="checkbox">
        <input id="out-stock-check" type="checkbox" @click="stockPriceFilter">
        Out of Stock
      </label>
    </li>
  </ul>
  
  {% if category and not subcategory %}
  <p class="menu-label">
    Sub Categories
  </p>
  <ul class="menu-list">
    {% for subcategory in category.subcategories.all %}
      <li>
        <label class="checkbox">
          <input @click="stockPriceFilter" class="subcatcheck" type="checkbox" name="{{subcategory.name}}">
          {{subcategory.name}}
        </label>
      </li>
    {% endfor %}

  </ul>
    
  {% endif %}
    
    
  
  <p class="menu-label">
    Price 
  </p>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input 
            id="min-price-filter" 
            type="text" 
            x-model="minPrice"
            :value="minPrice"
            x-on:keyup="stockPriceFilter" 
            class="input is-small"
          >
          <p class="help">Min Price £</p>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input id="max-price-filter" 
            type="text" 
            x-model="maxPrice"
            :value="maxPrice" 
            x-on:keyup="stockPriceFilter" 
            class="input is-small"
           >
          <p class="help">Max Price £</p>
        </p>
      </div>
    </div>
  </div>
  <button 
    x-on:click="resetFilters" 
    x-on:click.debounce.1="stockPriceFilter"
    class="button is-info is-rounded is-outlined w-100"
  >
    <span class="icon">
      <i class="fas fa-sync-alt"></i>
    </span>
    <span><strong>Reset Filters</strong></span>
  </button>
</aside>