{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title is-spaced">My Account</h1>
          <p>Dashboard</p>
        </div>
      </div>
    </div>

    <div class="columns">
      {% include 'includes/profile_nav.html' %}

      <div class="column is-7-desktop">

        <h2>
          Hello <strong>{{user.username}}</strong>
          <small
            >(not <strong>{{user.username}}</strong>?
            <a href="{% url 'account_logout' %}">Log out</a>)</small
          >
        </h2>

        <p class="pt-5">From the 'My Account' Dashboard, you can view previous orders, update your address, check and edit your account details and see what you've added to your wishlist.</p>
        <div class="buttons pt-6">
          <a class="button is-rounded is-primary is-outlined" href="{% url 'order_history' %}"
            ><span class="icon"><i class="fas fa-mail-bulk"></i></span
            ><span>Orders</span></a
          >
          <a class="button is-rounded is-primary is-outlined" href="{% url 'update_address' %}"
            ><span class="icon"><i class="far fa-address-book"></i></span
            ><span>Address</span></a
          >
          <a class="button is-rounded is-primary is-outlined" href="{% url 'update_account_details' %}"
            ><span class="icon"><i class="far fa-user-circle"></i></span
            ><span>Account Details</span></a
          >
          <a class="button is-rounded is-primary is-outlined" href="{% url 'account_change_password' %}"
            ><span class="icon"><i class="fas fa-key"></i></span
            ><span>Change Password</span></a
          >
          <a class="button is-rounded is-primary is-outlined" href="{% url 'view_wishlist' %}"
            ><span class="icon"><i class="fas fa-cart-arrow-down"></i></span
            ><span>Wishlist</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
