{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title is-spaced">My Account</h1>
          <p>Orders</p>
        </div>
      </div>
    </div>

    <div class="columns">
      {% include 'includes/profile_nav.html' %}

      <h1>Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
    </form>
    </div>
  </div>
</section>

{% endblock content %}
