{% extends 'base.html' %} 
{% load static %}
{% load templatetags %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <h1 class="title is-spaced">My Account</h1>
          <p>Address</p>
        </div>
      </div>
    </div>

    <div class="columns">
      {% include 'includes/profile_nav.html' %}

      <div class="column is-7 is-12-touch">
        <p>Add your address to make checking out quicker for your next order.</p>

        <form method="POST" id="address-form" class="form">
          {% csrf_token %}
            <div class="field is-horizontal pt-3">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    {{form.default_address_1|add_class:"input"}}
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    {{form.default_address_2|add_class:"input"}}
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal pt-3">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    {{form.default_post_town|add_class:"input"}}
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    {{form.default_county|add_class:"input"}}
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal pt-3">
              <div class="field-body">
                <div class="field" id="country-select">
                  <div class="select">
                    {{form.default_country|add_class:"address-country-select"}}
                  </div>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    {{form.default_postcode|add_class:"input"}}
                  </p>
                </div>
              </div>
            </div>
          <div>
            <button class="button mt-3 is-success is-rounded">
              <span class="icon">
                <i class="fas fa-house-user"></i>
              </span>
              <span><strong>Update Address</strong></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block postloadjs %} {{ block.super }}
<script src="{% static 'profiles/js/country_select.js' %}"></script>
{% endblock postloadjs %}
