.h-product-wrap
    overflow-x: auto
    display: flex
    flex-wrap: nowrap
    -webkit-overflow-scrolling: touch
    scrollbar-width: none
    &::-webkit-scrollbar
        display: none
    
.h-product
    flex: 0 0 auto
    width: 15rem
