<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="has-text-centered">
          <p class="title is-6">Who we are</p>
        </div>
        <div class="divider">
          <span class="icon has-text-primary is-small"
            ><i class="fas fa-users"></i
          ></span>
        </div>
        <p>
          FPVision is made up of builders, tinkerers, flyers, crashers and all
          round FPV addicts. We live and breath quadcopters and FPV.
        </p>
        <br />
        <p>
          We are super happy you have chosen to shop with us, and we will do
          everything we can to make your shopping experience enjoyable.
        </p>
      </div>
      <div class="column is-4">
        <div class="has-text-centered">
          <p class="title is-6">Subscribe to our newsletter</p>
        </div>
        <div class="divider">
          <span class="icon has-text-primary is-small"
            ><i class="fas fa-envelope"></i
          ></span>
        </div>
        <p>
          Enter your email address to scubcribe to our monthly newsletter,
          bringing you all the latest in FPV news and gadgets
        </p>
        <input
          type="email"
          class="input is-rounded mt-3"
          placeholder="Email Address"
        />
        <div class="has-text-centered">
          <button class="button is-rounded is-success mt-3">
            <span class="icon"><i class="fa fa-rss"></i></span>
            <span><strong>Subscribe</strong></span>
          </button>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-centered">
          <p class="title is-6">Find us on social media</p>
        </div>
        <div class="divider">
          <span class="icon has-text-primary is-small"
            ><i class="fas fa-thumbs-up"></i
          ></span>
        </div>
        <p>
          Be our friend, pin our content, tweet our amazing products and post
          pictures of your builds. We would love to get to know you!
        </p>
        <div class="has-text-centered pt-6">
          <a
            target="_blank"
            rel="noopener"
            href="https://facebook.com"
            class="button is-primary is-icon is-rounded is-outlined mx-1"
            ><span class="icon"><i class="fab fa-facebook-f"></i></span
          ></a>
          <a
            target="_blank"
            rel="noopener"
            href="https://pinterest.com"
            class="button is-primary is-icon is-rounded is-outlined mx-1"
            ><span class="icon"><i class="fab fa-pinterest-p"></i></span
          ></a>
          <a
            target="_blank"
            rel="noopener"
            href="https://twitter.com"
            class="button is-primary is-icon is-rounded is-outlined mx-1"
            ><span class="icon"><i class="fab fa-twitter"></i></span
          ></a>
          <a
            target="_blank"
            rel="noopener"
            href="https://instagram.com"
            class="button is-primary is-icon is-rounded is-outlined mx-1"
            ><span class="icon"><i class="fab fa-instagram"></i></span
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="content has-text-centered">
      Copyright 2020 © | Design by
      <a target="_blank" rel="noopener" href="https://github.com/wrengit"
        >wrenna</a
      >
    </div>
  </div>
</footer>
