<section class="section">
  <div class="container">
    <div class="divider has-text-primary">
      <span class="icon"><i class="fas fa-arrow-left"></i></span>
      FEATURED PRODUCTS
      <span class="icon"><i class="fas fa-arrow-right"></i></span>
    </div>
    <div x-data class="h-product-container">
      <div class="h-product-arrows is-hidden-touch">
        <span
          @click="document.querySelector('.h-product-wrap').scrollBy({left:-300, behavior:'smooth'})"
          class="icon is-large has-text-primary"
          ><i class="fas fa-2x fa-chevron-circle-left"></i
        ></span>
      </div>

      <div class="h-product-wrap">
        {% for product in featured_products %}
        <div class="h-product">
          <a href="{{product.get_url}}">
            <div class="card">
              <div class="card-image">
                <figure class="image is-square">
                  <img src="{{product.image.url}}" alt="{{product.name}}" />
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="subcatname" hidden>{{product.sub_category.name}}</p>
                  <p class="title is-6 has-text-primary">
                    {{product.name | truncatechars:20 }}
                  </p>
                  <p class="subtitle is-size-8">
                    {{product.category.name | upper}} /
                    {{product.sub_category.name | upper}}
                  </p>
                  <p class="is-size-7">
                    {{product.description | truncatechars:80}}
                  </p>
                  <small class="has-text-weight-bold">£{{product.price}}</small>
                  {% if product.stock > 0 %}
                  <small class="has-text-success is-size-7-mobile"
                    >Available</small
                  >
                  {% else %}
                  <small class="has-text-danger is-size-7-mobile"
                    >Out of Stock</small
                  >
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="h-product-arrows is-hidden-touch">
        <span
          @click="document.querySelector('.h-product-wrap').scrollBy({left:300, behavior:'smooth'})"
          class="icon is-large has-text-primary"
          ><i class="fas fa-2x fa-chevron-circle-right"></i
        ></span>
      </div>
    </div>
  </div>
</section>
