{% load static %}

<nav
  x-data="{ open: false, openAccount: false,}"
  class="navbar is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container is-widescreen">
    <div class="navbar-brand mx-1">
      <a
        x-bind:class="{ 'is-active': open }"
        @click="open = true"
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <a class="navbar-item" href="/">
        <strong>FPVision</strong>
      </a>
      <!--Account / Basket Touch-->
      <div class="navbar-item has-dropdown is-hidden-desktop">
        <div class="buttons">
          {% if user.is_authenticated %}
          <div 
            class="dropdown is-right" 
            x-bind:class="{ 'is-active': openAccount }" 
            @click.away="openAccount = false"
          >
            <div class="dropdown-trigger">
              <button 
                class="button is-primary is-outlined is-rounded is-icon" 
                @click="openAccount =!openAccount"
              >
                <span class="icon">
                  <i class="far fa-user-circle"></i>
                </span>
              </button>
            </div>
            <div 
              class="dropdown-menu" 
              
            >
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">Account</a>
                <hr class="dropdown-divider" />
                <a href="{% url 'account_logout' %}" class="dropdown-item"
                  >Logout</a
                >
              </div>
            </div>
          </div>

          {% else %}
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button is-outlined is-rounded is-icon">
                <span class="icon">
                  <i class="far fa-user-circle"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <a href="{% url 'account_login' %}" class="dropdown-item"
                  >Login</a
                >
                <hr class="dropdown-divider" />
                <a href="{% url 'account_signup' %}" class="dropdown-item"
                  >Register</a
                >
              </div>
            </div>
          </div>

          {% endif %}

          <a class="button is-primary is-outlined is-rounded is-icon is-hidden-desktop ml-1">
            <span class="icon">
              <i class="fas fa-shopping-basket"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div
      x-bind:class="{ 'is-active': open }"
      @click.away="open = false"
      id="navbar"
      class="navbar-menu"
    >
      <div class="navbar-start">
        <!--Products Desktop-->
        <div
          class="navbar-item has-dropdown is-hoverable is-mega is-hidden-touch"
          x-bind:class="{ 'is-active': openItem }"
          @click="openItem =!openItem"
          x-data="{ openItem: false }"
        >
          <div class="navbar-link">
            Products
          </div>
          <div
            id="productsDropdown"
            class="navbar-dropdown"
            data-style="width: 18rem;"
          >
            <div class="container">
              <div class="columns">
                {% for c in all_categories %}
                <div class="column">
                  <a
                    class="navbar-item"
                    href="{% url 'products_by_category' c.slug %}"
                    ><h1 class="title is-6 is-mega-menu-title">
                      {{c.name}}
                    </h1></a
                  >
                  <hr class="navbar-divider" />
                  {% for sc in all_subcategories %} {% if sc.category == c %}
                  <a
                    class="navbar-item"
                    href="{% url 'products_by_subcategory' c.slug sc.slug %}"
                  >
                    {{sc.name}}
                  </a>
                  {% endif %} {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>

            <hr class="navbar-divider" />
            <div class="navbar-item">
              <div class="navbar-content">
                <div class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item">
                      <strong
                        >Stay up to date with all the latest FPVision news. Join
                        our mailing list.</strong
                      >
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <a
                        class="button bd-is-rss is-small"
                        href="http://bulma.io/atom.xml"
                      >
                        <span class="icon is-small">
                          <i class="fa fa-rss"></i>
                        </span>
                        <span>Subscribe</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Search-->
        <div class="navbar-item">
          <div
            x-data="Search()"
            x-bind:class="{ 'is-active': open }"
            class="dropdown"
          >
            <form
              class="control has-icons-right search-container"
              action="{% url 'search_result' %}"
              method="GET"
            >
              <input
                x-on:keyup="fetchProducts()"
                x-model="q"
                @click="open = true"
                @click.away="open = false"
                autocomplete="off"
                class="input is-primary is-rounded"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="q"
              />
              <span class="icon is-right">
                <a href="">
                  <i class="fas fa-search"></i>
                </a>
              </span>
            </form>
            <div class="dropdown-menu js-search">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <template x-if="products.length > 0">
                    <div class="divider has-text-primary">Products</div>
                  </template>
                  
                  <template x-if="products.length > 4">
                    <p>
                      Showing 4 of&nbsp;<span x-text="products.length"></span
                      >&nbsp;for&nbsp;"&nbsp;<span x-text="q"></span>&nbsp;"
                    </p>
                  </template>
                  
                  <div class="columns is-variable is-mobile is-1 is-centered is-multiline is-touch is-flex-touch">
                    <template x-if="products">
                      <template
                        x-for="product in products.slice(0,4)"
                        :key="product.id"
                      >
                        <div class="column is-quarter is-half-touch">
                          <a
                            x-bind:href="'/products/'
                          +product.category.toLowerCase()
                          +'/'+product.sub_category.toLowerCase()
                          +'/'+product.slug"
                          >
                            <div class="card">
                              <div class="card-image">
                                <figure class="image is-square">
                                  <img
                                    :src="image_src + product.image"
                                    :alt="product.name"
                                  />
                                </figure>
                              </div>
                              <div class="card-content">
                                <div class="content">
                                  <p
                                    class="title is-6 is-size-7-touch"
                                    x-text="product.name"
                                  ></p>
                                  <p
                                    x-text="product.category"
                                    class="is-size-7"
                                  ></p>
                                  <small class="has-text-weight-bold">£</small
                                  ><small
                                    class="has-text-weight-bold"
                                    x-text="product.price"
                                  ></small>
                                  <template x-if="product.stock > 0">
                                    <small
                                      class="is-pulled-right has-text-success"
                                      >Available</small
                                    >
                                  </template>
                                  <template x-if="product.stock == 0">
                                    <small
                                      class="is-pulled-right has-text-danger"
                                      >Out of Stock</small
                                    >
                                  </template>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </template>
                      <template x-if="products.length > 4">
                        <div class="column has-text-centered">
                          <button
                            class="button is-primary"
                            @click.prevent="showRemainingProducts()"
                          >
                            View all&nbsp;<span x-text="products.length"></span
                            >&nbsp;items
                          </button>
                        </div>
                      </template>
                    </template>
                    <template x-if="!products.length && !q">
                      <div class="dropdown-item">
                        <p class="has-text-info has-text-weight-bold">Start typing for instant search results</p>
                      </div>
                    </template>
                    <template x-if="!products.length && q">
                      <div class="dropdown-item">
                        <p class="has-text-danger has-text-weight-bold">
                          No products matching the search criteria
                        </p>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Products Touch-->
        <div class="navbar-item is-hidden-desktop">
          <div class="container">
            {% for c in all_categories %}
            <div class="divider has-text-primary">{{c.name}}</div>
              {% for sc in all_subcategories %} {% if sc.category == c %}
              <a
                class="navbar-item has-text-centered"
                href="{% url 'products_by_subcategory' c.slug sc.slug %}"
              >
                {{sc.name}}
              </a>
              {% endif %} 
              {% endfor %} 
            {% endfor %}
          </div>
        </div>
        <!--Account / Basket Desktop-->
        <div class="navbar-item is-hidden-touch">
          <div>
            {% if user.is_authenticated %}
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-rounded is-primary is-outlined">
                  <span>{{user.username | title}}</span>
                  <span class="icon">
                    <i class="far fa-user-circle"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item">Account</a>
                  <hr class="dropdown-divider" />
                  <a href="{% url 'account_logout' %}" class="dropdown-item"
                    >Logout</a
                  >
                </div>
              </div>
            </div>

            {% else %}
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-rounded is-outlined">
                  <span class="icon">
                    <i class="far fa-user-circle"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <a href="{% url 'account_login' %}" class="dropdown-item"
                    >Login</a
                  >
                  <hr class="dropdown-divider" />
                  <a href="{% url 'account_signup' %}" class="dropdown-item"
                    >Register</a
                  >
                </div>
              </div>
            </div>

            {% endif %}

            <a class="button is-rounded is-primary is-outlined is-hidden-touch">
              <span class="icon">
                <i class="fas fa-shopping-basket"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
