{% extends "account/base.html" %} 
{% load i18n %} 
{% load templatetags %} 
{%block head_title %}{% trans "Sign Out" %}{% endblock %} 

{% block inner_content %}
    <div class="has-text-centered">
      <h1 class="title is-4">{% trans "Log Out" %}</h1>
      <p class="subtitle is-6">{% trans 'Are you sure you want to log out?' %}</p>
    </div>
    
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %} 
      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <div class="has-text-centered pt-3">
        <button class="button is-primary is-light is-rounded" type="submit">
          <span class="icon"><i class="fas fa-sign-out-alt"></i></span
          ><span><strong>{% trans 'Log Out' %}</strong></span>
        </button>
      </div>
    </form>

{% endblock %}
