{% extends "account/base.html" %}

{% load i18n %}
{% load templatetags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="level">
    <div class="level-item has-text-centered">
      <div>
        <h1 class="title is-spaced">My Account</h1>
        <p>Set Password</p>
      </div>
    </div>
  </div>
  <div class="columns">
    {% include 'includes/profile_nav.html' %}
    <div class="column is-7-desktop is-12-touch">
      <p>If you've logged in with a Social account, you will need to set a password here</p>
      <form
        method="POST"
        action="{% url 'account_set_password' %}"
        class="password_set form"
      >
        {% csrf_token %}
        <div class="field is-horizontal pt-3">
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                {{form.password1|add_class:"input"}}
              </div>
              <p class="help">Password</p>
            </div>
            <div class="field">
              <div class="control is-expanded">
                {{form.password2|add_class:"input"}}
              </div>
              <p class="help">Confirm password</p>
            </div>
          </div>
        </div>
        <div class="pt-3">
          <button
            class="button is-rounded is-success w-100-mobile"
            type="submit"
            name="action"
          >
            <span class="icon"><i class="fas fa-key"></i></span
            ><span><strong>{% trans "Add Password" %}</strong></span>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
