<div class="navbar-item has-dropdown is-hidden-desktop">
    <div class="buttons">
      {% if user.is_authenticated %}
      <div
        class="dropdown is-right"
        x-bind:class="{ 'is-active': openAccount }"
        @click.away="openAccount = false"
      >
        <div class="dropdown-trigger">
          <button
            class="button has-text-primary is-white is-outlined is-rounded is-icon"
            @click="openAccount =!openAccount"
          >
            <span class="icon">
              <i class="far fa-user-circle"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a href="{% url 'my_account' %}" class="dropdown-item"
              >Dashboard</a
            >
            <a href="{% url 'order_history' %}" class="dropdown-item"
              >Orders</a
            >
            <a href="{% url 'update_address' %}" class="dropdown-item"
              >Update Address</a
            >
            <a
              href="{% url 'update_account_details' %}"
              class="dropdown-item"
              >Account Details</a
            >
            <a href="{% url 'view_wishlist' %}" class="dropdown-item"
              >Wishlist</a
            >
            <hr class="dropdown-divider" />
            <a href="{% url 'account_logout' %}" class="dropdown-item"
              >Logout</a
            >
          </div>
        </div>
      </div>

      {% else %}
      <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
          <button class="button has-text-grey is-white is-outlined is-rounded is-icon">
            <span class="icon">
              <i class="far fa-user-circle"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a href="{% url 'account_login' %}" class="dropdown-item"
              >Login</a
            >
            <hr class="dropdown-divider" />
            <a href="{% url 'account_signup' %}" class="dropdown-item"
              >Register</a
            >
          </div>
        </div>
      </div>

      {% endif %}

      
      {% if basket_items %}
      <a
        href="{% url 'view_basket' %}"
        class="button is-outlined has-text-primary is-white is-rounded is-icon is-hidden-desktop ml-1"
      >
        <span class="icon">
          <i class="fas fa-shopping-basket"></i>
          {% if product_count > 0 %}
          <span class="product-count"><strong>{{product_count}}</strong></span>
          {% endif %}
        </span>
      </a>
      {% else %}
      <a
        href="{% url 'view_basket' %}"
        class="button is-outlined has-text-grey is-white is-rounded is-icon is-hidden-desktop ml-1"
      >
        <span class="icon">
          <i class="fas fa-shopping-basket"></i>
        </span>
      </a>
      {% endif %}
        
    </div>
  </div>