{% extends 'base.html' %} {% load static %} {% block extra_title %} Index page
{% endblock extra_title %} {% block content %}

<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">This is the first page!</h1>
      <h2 class="subtitle">Some additional text here</h2>
      <hr />
      <p>Welcome {{user}}</p>

      <button><a href="{% url 'all_products' %}">View all products</a></button>
    </div>
  </div>
</section>

{% endblock content %}
