{% extends 'base.html' %} 
{% load static %}

{% block extra_title %} We love drones {% endblock extra_title %} 

{% block content %}
  <div class="hero-container" style="background-image: url('{{MEDIA_URL}}main/desktopdrone.jpg')">
    <div class="hero-text-container">
      <strong class="hero-text">FPV<span class="cursive">ision</span></strong>
    </div>
    <a href="{% url 'all_products' %}" class="hero-button button is-rounded is-primary"><strong>View All Products</strong></a>
  </div>

  <section id="tiles" class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box px-0 py-0 has-text-white">
                <a href="{% url 'products_by_category' 'frames' %}">
                  <div class="full-image">
                    <img class="image" src="{{MEDIA_URL}}product/hyperlow_cg.jpg" alt="">
                    <span>
                      <p class="title has-text-white">Frames</p>
                      <p class="subtitle is-size-6"><strong class="has-text-white">Racing, Freestyle, multirotor. We have you covered.</strong></p>
                    </span>
                  </div>
                </a>
              </article>
              <article class="tile is-child box has-background-danger is-hidden-mobile">
                <a 
                  href="{% url 'products_by_subcategory' 'quadcopter-parts' 'props' %}"
                >
                  <p class="title has-text-white">Props, Props, Props</p>
                  <p class="subtitle is-size-6"><strong class="has-text-white">You'll break 'em. Get them in bulk here.</strong></p>            
                </a>
              </article>
            </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <a href="{% url 'products_by_subcategory' 'fpv' 'dji-hd' %}">
                    <p class="title">HD FPV</p>
                    <p class="subtitle"><strong>You wont believe your eyes</strong></p>
                    <figure class="image is-square">
                      <img src="{{MEDIA_URL}}main/djihd.jpg">
                    </figure>
                  </a>
                </article>
              </div>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box py-0 px-0">
              <a href="{% url 'products_by_subcategory' 'quadcopter-parts' 'batteries' %}">
                <div class="full-image">
                  <img class="image" src="{{MEDIA_URL}}main/tattu.jpg" alt="Tattu battery">
                  <span>
                    <p class="title has-text-white">Batteries</p>
                    <p class="subtitle is-size-6">
                      <strong class="has-text-white">1s to 6s, all shapes and sizes</strong>
                    </p>
                  </span>
                </div>
              </a>
            </article>
            <article class="tile is-child box has-background-success is-hidden-mobile">
              <a 
                target="_blank"
                rel="noopener" 
                href="https://thedroneracingleague.com/"
              >
                <p class="title has-text-white">Drone Racing League</p>
                <p class="subtitle is-size-6">
                  <strong class="has-text-white">Check out the latest high-speed action</strong>
                </p>
                <div class="content">
                  <p class="has-text-white">
                    DRL is the global, professional drone racing property for elite pilots. 
                    With custom built racing drones traveling 90 MPH, pilots race FPV (First Person View) 
                    through the most insane 3D courses ever created outside of a video game.
                  </p>
                </div>      
              </a>
            </article>
          </div>
        </div>
        <div class="tile is-vertical is-4">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box has-background-primary is-hidden-mobile">
              <a 
                target="_blank"
                rel="noopener" 
                href="https://www.fpvuk.org/local-clubs/"
              >
                <p class="title has-text-white">Local Clubs</p>
                <p class="subtitle is-size-6"><strong class="has-text-white">Get to know your fellow pilots</strong></p>  
                <div class="content has-text-white">
                  <p>Flying is more enjoyable with friends</p>
                </div>          
              </a>
            </article>
            <article class="tile is-child box py-0 px-0">
              <a href="{% url 'product_details' 'drones' 'dji' 'mavic-air-2' %}">
                <div class="full-image">
                  <img class="image" src="{{MEDIA_URL}}main/mavicair2.jpg" alt="Mavic Air 2">
                  <span>
                    <p class="title has-text-white">Mavic Air 2</p>
                    <p class="subtitle is-size-6"><strong class="has-text-white">Latest pocket flying from DJI</strong></p>
                  </span>
                </div>
              </a>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box has-background-info">
              <a 
                target="_blank"
                rel="noopener" 
                href="https://www.caa.co.uk/Consumers/Unmanned-aircraft-and-drones/"
              >
                <p class="title has-text-white">Drone licence</p>
                <p class="subtitle is-size-6"><strong class="has-text-white">Make sure you are flying legally</strong></p>            
                <div class="content">
                  <p class="has-text-white">From 30 November 2019 it is illegal to fly without registering</p>
                </div>              
              </a>
            </article>
            <article class="tile is-child box px-0 py-0 has-text-white">
              <a href="{% url 'products_by_subcategory' 'quadcopter-parts' 'escs' %}">
                <div class="full-image">
                  <img class="image" src="{{MEDIA_URL}}main/littlebee-esc.png" alt="electronic Speed Controller">
                  <span>
                    <p class="title has-text-white">ESC's</p>
                    <p class="subtitle is-size-6"><strong class="has-text-white">Take control</strong></p>
                  </span>
                </div>
              </a>
            </article>

          </div>
        
        </div>
      </div>
    </div>

  </section>
  </div>


{% endblock content %}
