{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    {% block extracss %} 
    
    {% endblock extracss %}

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script>
      function Search() {
        return {
          open: false,
          q: "",
          products: [],
          image_src: "/media/",
          js_url: "{% url 'js_search' %}",
          url: "{% url 'search_result' %}",
          fetchProducts() {
            if (this.q) {
              fetch(`${this.js_url}?q=${this.q}`)
                .then((res) => res.json())
                .then((data) => {
                  this.products = data;
                });
            } else {
              this.products = [];
              console.log(this.products)
            }
          },
          showRemainingProducts() {
            window.location=this.url+"?q="+this.q
          }
        };
      }
    </script>
    <script
      src="https://kit.fontawesome.com/51d7063a93.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://js.stripe.com/v3/"></script>

    <title>FPVision |{% block extra_title %} {% endblock extra_title %}</title>
  </head>
  <body class="has-navbar-fixed-top">
    {% include 'includes/navbar.html' %} 

    {% block content %} 

    {% endblock content%} 
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    {% block postloadjs %} 

    {% endblock postloadjs %}
  </body>
</html>
