{% extends 'base.html' %} 
{% load static %} 
{% block extra_title %}{{product.name}}{% endblock extra_title %} 

{% block content %}
<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">{{product.name}}</h1>
      {% include 'products/includes/breadcrumbs.html' %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-1">
        <figure class="image">
          <img src="{{product.image.url}}" alt="{{product.name}}" />
        </figure>
      </div>
      <div class="column is-4">
        <p class="title has-text-primary is-size-5-mobile">{{product.name}}</p>
        <p class="is-size-5 is-size-6-mobile has-text-weight-bold">£{{product.price}}</p>

        {% if product.stock > 0 %}
        <p class="has-text-success is-size-6-mobile">Available to order</p>
        {% else %}
        <p class="has-text-danger is-size-6-mobile">Out of Stock</p>
        {% endif %}

        <hr />
        <p class="is-size-6 is-size-7-mobile">SKU: {{product.sku}}</p>
        <p class="is-size-6 is-size-7-mobile">Category: {{product.category}}</p>
        <p class="is-size-6 is-size-7-mobile">Sub Category: {{product.sub_category.name}}</p>
        <hr />
        <!--Add to basket/wishlist form for non admin users-->
        {% if not user.is_staff %}
          <form
            class="form qty-form"
            id="basket-quantity-form-{{product.id}}"
            x-data="qtyFormControl()"
            action="{% url 'add_to_basket' product.id %}"
            method="POST"
          >
            {% csrf_token %}
            <div class="field has-addons">
              <div class="control">
                <button
                  class="button is-rounded is-icon is-primary is-size-7-mobile"
                  @click.prevent="decrementQty({{product.id}})"
                  id="decrement-{{product.id}}"
                >
                  <span class="icon is-small">
                    <i class="fas fa-minus"></i>
                  </span>
                </button>
              </div>
              <div class="control">
                <input
                  type="number"
                  name="quantity"
                  value="1"
                  min="1"
                  max="{{product.stock}}"
                  id="qty-{{product.id}}"
                  class="input is-primary is-size-7-mobile"
                  x-on:keypress="blockAlpha($event)"
                  x-on:keyup="updateSubmitForm({{product.id}})"
                />
              </div>
              <div class="control">
                <button
                  @click.prevent="incrementQty({{product.id}})"
                  class="button is-rounded is-icon is-primary is-size-7-mobile"
                  id="increment-{{product.id}}"
                >
                  <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                  </span>
                </button>
              </div>
            </div>

            
            {% if product.stock > 0 %}
              <div class="field is-grouped is-grouped-multiline is-centered">
                <p class="control">
                  <button class="button is-rounded is-success is-size-7-mobile" type="submit">
                    <span class="icon"><i class="fas fa-shopping-basket"></i></span>
                    <span><strong>Add to Basket</strong> </span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-rounded is-primary is-light is-size-7-mobile" type="submit" formaction="{% url 'add_to_wishlist' product.id %}">
                    <span class="icon"><i class="fas fa-gift"></i></span>
                    <span><strong>Add to Wishlist</strong> </span>
                  </button>
                </p>
              </div>
            {% else %}
              <p class="has-text-danger">Product is out of stock. We will be getting more in soon!</p>
            {% endif %}
              
            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          </form>
        <!--Edit/Delete product section for admin users-->
        {% else %}
          <a href="{%url 'delete_product' product.id %}" class="button is-danger is-rounded"><strong>DELETE!</strong></a>
          <a href="{%url 'edit_product' product.id %}" class="button is-info is-rounded"><strong>EDIT</strong></a>
        {% endif %}
      </div>

      <div class="column is-12">
        <div class="divider has-text-primary">Description</div>
        <p>{{product.description | linebreaksbr}}</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


{% block postloadjs %}
  <script src="{% static 'js/qtyFormControl.js' %}"></script>
{% endblock postloadjs %}
  