{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section class="hero is-light">
  
  <div class="hero-body">
    <div class="container">
      {% if not subcategory %} 
        {% if category %}
        <h1 class="title">{{category}}</h1>
        {% else %} 
        <h1 class="title">All Products</h1>
          {% for category in all_categories %}
            &#10012 &nbsp;<a href="{{category.get_url}}">{{category.name}}</a>&nbsp;
            {% if forloop.last %}
            &#10012
            {% endif %}
          {% endfor %}
        {% endif %} 
      {% else %} 
      <h1 class="title">{{subcategory.name}}</h1> 
      {% endif %}
      {% include 'products/includes/breadcrumbs.html' %}

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div id="filter-container" class="column is-3 is-12-mobile">
        {% include 'products/includes/product_filter.html' %}
      </div>
      <div class="column is-9 is-12-touch">
        <div class="columns is-mobile is-multiline">
          {% include 'products/includes/product_card.html' %}
        </div>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}


{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/product_filter.js' %}"></script>
{% endblock postloadjs %}
  
